In [1]:
from google.colab import files
upload=files.upload()

Saving TSLA.csv to TSLA.csv

In [5]:
import io
import pandas as pd 
dataset=pd.read_csv(io.BytesIO(upload['TSLA.csv']),header=None)

data.head()

            0          1          2          3          4          5         6
0        Date       Open       High        Low      Close  Adj Close    Volume
1  2010-06-29  19.000000  25.000000  17.540001  23.889999  23.889999  18766300
2  2010-06-30  25.790001  30.420000  23.299999  23.830000  23.830000  17187100
3  2010-07-01  25.000000  25.920000  20.270000  21.959999  21.959999   8218800
4  2010-07-02  23.000000  23.100000  18.709999  19.200001  19.200001   5139800

In [6]:
#CHECKING THE NULL VALUES 
dataset.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [7]:
# READING THE DATASET 
import pandas as pd
dataset=pd.read_csv('TSLA.csv',na_values='?', skipinitialspace=True)
dataset.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [8]:
# APPLYING IMPUTER 
from sklearn.impute import SimpleImputer
im=SimpleImputer(strategy='most_frequent')
dataset=im.fit_transform(dataset)

In [9]:
#CHECKING THE NULL VALUES AGAIN 
pd.DataFrame(dataset).isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [10]:
#APPYLING LABEL ENCODER TO DEAL WITH CATEGORICAL DATA 

columns=[0,1,2,3,4,5,6]

In [11]:
dataset=pd.DataFrame(dataset)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in columns:
    dataset[i]=le.fit_transform(dataset[i])

In [12]:
dataset.head()

   0    1    2    3    4    5     6
0  0   13  126    7  112  112  2321
1  1  156  319  118  109  109  2298
2  2  142  148   41   73   73  1918
3  3   89   76   16   15   15  1336
4  4   27   17    2    1    1  1696

In [13]:
#SETTING TARGET COLUMN AND DROPING 
target=dataset[0]
data=dataset.drop(columns=[0])

In [14]:
data.shape

(2416, 6)

In [15]:

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
data_sc=sc.fit_transform(data)
pd.DataFrame(data_sc).describe()

                  0             1  ...             4             5
count  2.416000e+03  2.416000e+03  ...  2.416000e+03  2.416000e+03
mean  -4.007096e-17 -1.050484e-16  ... -2.939150e-16  1.792165e-17
std    1.000207e+00  1.000207e+00  ...  1.000207e+00  1.000207e+00
min   -1.641661e+00 -1.661226e+00  ... -1.652425e+00 -1.724261e+00
25%   -9.242985e-01 -9.122672e-01  ... -9.064472e-01 -8.694145e-01
50%   -1.788227e-02 -5.038200e-03  ... -1.588838e-02 -1.544083e-03
75%    8.641012e-01  8.602007e-01  ...  8.642883e-01  8.692204e-01
max    1.772520e+00  1.773890e+00  ...  1.768306e+00  1.734197e+00

[8 rows x 6 columns]

In [17]:
# APPLYING SPLITING METHOD IN TRAIN TEST DATA 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(data, target, test_size=0.30)

In [18]:
from sklearn.linear_model import Perceptron 

from sklearn.metrics import accuracy_score

p=Perceptron()

p.fit(x_train, y_train)
print("accuracy score",accuracy_score(p.predict(x_train), y_train))
print("accuracy score",accuracy_score(p.predict(x_test), y_test))

accuracy score 0.0011827321111768185
accuracy score 0.0

In [19]:
from sklearn.linear_model import LogisticRegression


lr=LogisticRegression()

lr.fit(x_train, y_train)


print("accuracy score",accuracy_score(lr.predict(x_train), y_train))
print("accuracy score",accuracy_score(lr.predict(x_test), y_test))

accuracy score 0.15848610289769366
accuracy score 0.0

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [20]:
from sklearn.ensemble import RandomForestClassifier

rfc=RandomForestClassifier(n_estimators=10)

rfc.fit(x_train, y_train)

print("accuracy score",accuracy_score(rfc.predict(x_train), y_train))
print("accuracy score",accuracy_score(rfc.predict(x_test), y_test))

accuracy score 0.9852158486102898
accuracy score 0.0

In [21]:
from sklearn.decomposition import PCA
pca=PCA(n_components=5)
data_pca=pca.fit_transform(data_sc)
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1=train_test_split(data_pca, target, test_size=0.25)

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train1,y_train1)

from sklearn.metrics import accuracy_score
pred_train1=lr.predict(x_train1)
pred_test1=lr.predict(x_test1)

print("Training accuracy score",accuracy_score(pred_train1,y_train1))
print("testing accuracy score",accuracy_score(pred_test1,y_test1))

Training accuracy score 0.010485651214128035
testing accuracy score 0.0

In [31]:
#Complete